<nav class="bg-blue-600 text-white p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">

    <div class="flex items-center gap-3 font-bold text-xl">
      <img src="/school.png" alt="School Logo" class="h-8 w-8 object-contain" />
      <button (click)="navigateTo('')"
              class="text-white font-semibold hover:text-gray-200 transition duration-300">
        School App
      </button>
    </div>

    <div class="flex space-x-2">
      @if (!isAuthenticated) {
        <button (click)="navigateTo('/login')"
                class="px-4 py-2 bg-blue-900 hover:bg-blue-300 text-white font-medium rounded-lg transition duration-300">
          Login
        </button>
      }
      @if (isAuthenticated) {
        <button (click)="navigateToDashboard()"
              class="px-4 py-2 bg-blue-900 hover:bg-blue-300 text-white font-medium rounded-lg transition duration-300">
          Dashboard
        </button>
        <button (click)="navigateTo('/admin/logs')"
                class="px-4 py-2 bg-blue-900 hover:bg-blue-300 text-white font-medium rounded-lg transition duration-300">
          System Logs
        </button>
        <button (click)="logout()"
                class="px-4 py-2 bg-red-500 hover:bg-red-700 text-white font-medium rounded-lg transition duration-300">
          Logout
        </button>
      }
    </div>
  </div>
</nav>
